body{
    margin: 0%;
}
header {
    background-image:linear-gradient(rgba(0, 0, 0, 0.726),rgba(0, 0, 0, 0.822)), url(pexels-photo-1464143.jpeg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    
}

/* the header box */
.mos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 2.5rem;
    border-radius: 500px;
    background-position: center;
    color: #fff;

}

h1 {

    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    margin-bottom: 2rem;
}
.mos a {
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0.418);
    padding: 1rem 2rem;
    border-radius: 100px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    transition: all .5s;
}



.mos p{
    margin-bottom: 4rem;
    font-size: 1.5rem;
}
h2 {
    font-size: 2.5rem;
    margin-bottom: 4rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .3rem;
}

.view img {
    width: 100%;
    /* height: 50vh; */

}

section {
    padding: 8rem 0;
}


.view {
    width: 23%;
    padding: 2rem;
    text-align: center;
    text-transform: uppercase;
    transition: all 1s;
    margin: 0 2rem;
    box-shadow:1rem 2rem 4rem rgba(0, 0, 0, 0.541); 
    
}


.go {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2rem;

}
.nav__list {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    list-style: none;
    

}

.nav__item {

    /* margin-right: 1.5rem; */
}


.view:hover {
    transform: translatey(-1rem);
}




@keyframes fade {
    0% {
        opacity: 0;
        transform: scale(1.2)

        }

  100% {
      opacity:1 ;
      transform: scale(1)


  }

}



.about {


}


.about__content {
    display: flex;
    justify-content: center;
}


.about__imgs {
    width: 45%;
    margin-left: 2rem;
    text-align: center;
    transform: translateY(3.5rem);

}

.about__imgs img {
    width: 25rem;
    height: 25rem;
    border-radius: 50%;

}

.about__text {
    width: 45%;
    padding: 2rem;

}

.about__text h3 {
    color: #555;
    font-size: 1.9rem;
    letter-spacing: 3px;
    text-shadow: 1rem 1rem 2rem #000;
    text-transform: uppercase;
}


.about__text p {
    line-height: 1.6;
    font-size: 1.2rem;
   
}


.nav__link {
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
    padding: .5rem;
}


.about__btn {
    background-color: #fff;
    box-shadow: 1rem 1rem 2rem #222;
    padding: 1rem 2rem;
    border-radius: 100px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
    margin-top: 1rem;
    display: inline-block;
}